.body {
  margin: 0px;
  background-image: linear-gradient(rgb(210, 82, 20), rgb(143, 87, 253));
}
.header {
  background-color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagenuno {
  width: 50px;
  margin: 0px 0px 0px 25px;
}

.imagendos {
  width: 100px;
}

.fondo {
  padding: 50px 50px;
}

.carro-n {
  width: 40px;
}

.vehiculo {
  color: #DF7319;
  margin: -55px 0px -3px;
  text-align: center;
}

.datos-vehiculo {
  width: 600px;
  left: 300px;
  float: left;
  background: #CFC9C4;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  color: white;
  flex-direction: column;
  border-width: 2px;
  border-style: solid;
  border-radius: 40px;
  padding: 60px 68px 40px;
}

.h2 {
  text-align: center;
}

.datos {
  background: #B9B2AD;
  padding: 4px 45px;
  font-size: 10px;
  border-radius: 20px;
}

.confirmacion {
  margin: 20px 0px -20px 0px;
  color: #DF7319;
}

.ofertas {
  height: 800px;
  width: 300px;
  float: right;
  background: #1FCB91;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 40px;
    padding: 30px 60px 50px;
}

.ofertas-p {
  font-size: 30px;
  margin: 0px 0px 20px 0px;
}

.s-celular {
  height: 100px;
  width: 100px;
  margin: 0px 0px 10px 30px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-width: 2px;
  border-style: solid;
  border-radius: 40px;
  padding: 60px 68px 40px;
}

.s-robo {
  height: 100px;
  width: 100px;
  margin: 0px 0px 10px 30px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-width: 2px;
  border-style: solid;
  border-radius: 40px;
  padding: 60px 68px 40px;
}

.s-mascotas {
  height: 100px;
  width: 100px;
  margin: 0px 0px 10px 30px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-width: 2px;
  border-style: solid;
  border-radius: 40px;
  padding: 60px 68px 40px;
}

.etiqueta-p {
  color: #34A07B;
  margin: -40px -30px 0px -13px;
}

.img-ofertas {
  height: 100px;
  width: 100px;
  margin: 10px 0px;
}

.p-uno {
  font-size: 25px;
  color: white;
  margin: 16px 0px 16px 30px;
}

.p-dos {
  font-size: 20px;
  color: black;
  margin: 16px 0px 16px 30px;
}

.boton-ofertas {
  float: right;
  outline: auto;
  border-width: 2px;
  border-style: solid;
  border-radius: 40px;
  background-color: #7A83
}

.mas {
  font-size: 16px;
  color: red;
}

.agregar {
  float: right;
  outline: auto;
  border-width: 2px;
  border-style: solid;
  border-radius: 40px;
  background-color: #1FCB91;
}
